.fade-section {  /* → estado inicial (invisible) */
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: opacity, transform;
}

.fade-section.visible { /* → estado final (visible) */
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 600px) {

    .fade-section {
        padding: 20px;
    }

}
