/* LISTAS */
ul {
    margin: 10px 0 15px 20px;
}

li {
    margin-bottom: 8px;
}

p {
    margin-bottom: 15px;
}


/* VERSÍCULOS */
.versiculo {
    border-left: 4px solid #2a5298;
    padding-left: 15px;
    margin-bottom: 25px;
}

.versiculo h3 {
    margin-bottom: 10px;
    color: #1e3c72;
}

.version {
    margin-bottom: 10px;
    background: #f1f4f9;
    padding: 10px;
    border-radius: 8px;
}
