@media (max-width: 768px) {

    .menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 80px; /* Separado un poco más del borde */
        right: 5%; /* Lo alineamos a la derecha para que caiga debajo del botón hamburguesa */
        
        background: #025dfc;
        padding: 20px 15px;
        border-radius: 12px;
        border: 1px solid rgba(255,255,255,0.1); /* Borde sutil para separar */
        
        width: 250px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
        
        /* ESTADO INICIAL */
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translateY(-20px);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* 🔥 Transición con rebote sutil */
    }

    .nav-links.active {
            /* ESTADO VISIBLE */
            opacity: 1;
            visibility: visible;
            pointer-events: auto;

            transform: translateY(0);
        }

    /* Mejora de áreas táctiles en móvil */
    .nav-links li {
        width: 100%;
        margin-bottom: 5px; /* Separación entre ítems */
    }

    .nav-links a {
        display: block; /* Para que ocupe todo el ancho del li */
        padding: 12px 15px; /* Área táctil más grande */
        text-align: left;
        border-radius: 8px; /* Bordes más suaves dentro del menú */
    }
    
    .nav-links a:hover {
        transform: translateX(5px); /* En móvil, el hover desliza ligeramente a la derecha en lugar de hacia arriba */
    }    
}


@media (max-width: 600px) {
    header {
        min-height: auto; /* 🔥 clave */
        padding: 30px 15px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    main {
        padding: 10px;
    }
}



@media (max-width: 480px) {

}

/* RESPONSIVE MITOS */

@media (max-width: 768px) {
    .mitos-grid {
        grid-template-columns: 1fr;
    }

    .mito-card {
        padding: 25px 20px;
    }

    .icon-large {
        font-size: 2.4rem;
    }
}


/* =========================
   RESPONSIVE DUDAS
========================= */

@media (max-width: 768px) {

    .dudas-contenedor {

        padding: 35px 25px;

        border-radius: 18px;
    }

    .dudas-icono-principal {
        font-size: 2.3rem;
    }

    .dudas-contenedor h2 {
        font-size: 1.5rem;
    }

    .dudas-contenedor p {
        font-size: 1rem;
        line-height: 1.8;
    }
}


/* =========================
   RESPONSIVE TESTIMONIOS
========================= */

@media (max-width: 768px) {

    .testimonios-grid {
        grid-template-columns: 1fr;
    }

    .testimonio-card {
        padding: 30px 22px;
    }

    .testimonio-extracto {
        line-height: 1.8;
    }

    .btn-testimonios {
        width: 100%;
        justify-content: center;
    }
}

